.aboutMeSection {
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  scroll-margin-top: var(--main-scroll-margin-top);
}

.aboutMeInfoContainer {
  display: flex;
  justify-content: space-between;
  line-height: 1.75;
}

.aboutMeInfo {
  display: flex;
  flex-direction: column;
  max-width: 57%;
}

.aboutMeHeader {
  font-size: 2.5rem;
  width: 60%;
  color: var(--secondary-bg-color);
}

.aboutMeHeader::after {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 25%;
  outline: 2px solid var(--main-color);
}

.aboutMeInfoContainer > .aboutMeInfoPara {
  max-width: 60%;
  line-height: 1.75;
  margin-top: 0.5rem;
  font-weight: 400;
}

.aboutMeImgContainer {
  outline: 2px solid gold;
}

.aboutMeImg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
}

@media screen and (max-width: 1135px) {
  .aboutMeSection {
    flex-direction: column;
    gap: 0.75em;
  }

  .aboutMeInfoContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .aboutMeInfoContainer > .aboutMeInfoPara,
  .aboutMeInfo {
    max-width: 100%;
  }

  .aboutMeHeader {
    width: 100%;
  }
}
