.aboutMeSection {
  padding: 1em;
  display: flex;
  align-items: center;
  min-height: 250px;
  background-color: #540d6e;
  color: #2de2e6;
}

.aboutMeInfoContainer {
  display: flex;
  flex-direction: column;
}

.aboutMeHeader {
  font-size: 2.5rem;
  width: 60%;
}

.aboutMeHeader::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 25%;
  outline: 2px solid #920075;
}

.aboutMeInfoContainer > .aboutMeInfoPara {
  max-width: 60%;
  line-height: 1.75;
  margin-top: 0.5rem;
  font-weight: 400;
}

.aboutMeImg {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 2px solid #920075;
  object-fit: contain;
}

@media screen and (max-width: 1135px) {
  .aboutMeSection {
    flex-direction: column;
    gap: 0.75em;
  }

  .aboutMeInfoContainer {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .aboutMeInfoContainer > .aboutMeInfoPara {
    max-width: 100%;
  }

  .aboutMeHeader {
    width: 100%;
  }
}
