.contactMeWrapper {
  padding: 1em;
  background-color: #1d3557;
  scroll-margin-top: 20px;
}

.contactMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 1em;
}

.contactMeHeader {
  font-size: 2.5rem;
  color: #a7dadc;
}

.contactMeHeader::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 15%;
  outline: 2px solid #f1faee;
}

.contactMeDotsContainer {
  display: flex;
  justify-content: center;
  gap: 0.25em;
}

.contactMeDots {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background-color: #f1faee;
}

.contactMePara {
  color: #f1faee;
  font-weight: 400;
}

.contactMeSvgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  gap: 0.5em;
  transition: outline 0.15s ease-in-out;
}

.contactMeSvg {
  width: 2.5rem;
}

.contactMeSvg:hover {
  outline: 2px solid #f1faee;
  border-radius: 50%;
}
