.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
  position: relative;
  background-color: #1d3557;
  color: #f1faee;
}

.upArrowSvg {
  width: 3em;
}

.footerContentContainer {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.footerContentPara {
  font-weight: 400;
}

.upArrowContainer {
  outline: 2px solid #f1faee;
  background-color: #1d3557;
  position: absolute;
  top: -20%;
  cursor: pointer;
}

.footerGithubAnchor {
  color: #f1faee;
  margin-left: 0.25em;
  text-decoration: none;
}

@media screen and (max-width: 380px) {
  .footerContentContainer {
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
  }
}
