.footerContainer {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #540d6e;
  color: #2de2e6;
}

.upArrowSvg {
  width: 3em;
}

.footerContentContainer {
  display: flex;
  gap: 0.5em;
}

.upArrowContainer {
  outline: 2px solid #2de2e6;
  background-color: #540d6e;
  /* border-radius: 75%; */
  position: absolute;
  top: -20%;
  cursor: pointer;
}

.footerGithubAnchor {
  color: #2de2e6;
  margin-left: 0.25em;
  text-decoration: none;
}
