.headerNavWrapper {
  background-color: #1d3557;
  color: #a8dadc;
  scroll-margin-top: 20px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  z-index: 10;
  outline: 2px solid #f1faee;
  width: 100%;
  background-color: #1d3557;
}

.navHeaderName {
  font-weight: 600;
}

.openHamburgerMenu,
.closeHamburgerMenu {
  display: none;
}

.ulNavigation > a,
.hamburgerMobileMenuHidden > a {
  margin-left: 0.75em;
  text-decoration: none;
  color: #a8dadc;
  transition: border-bottom 0.15s ease-in-out;
}

.ulNavigation > a:hover {
  border-bottom: 2px solid #f1faee;
  margin-bottom: -2px;
}

.hamburgerMobileMenuHidden,
.hamburgerMobileMenuHidden > a,
.hamburgerMobileMenuShow,
.hamburgerMobileMenuShow > a {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ulNavigation {
    display: none;
  }

  .openHamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    padding: 0;
    right: 1.5rem;
    top: 20px;
    cursor: pointer;
  }

  .hamburgerMenuBarOne,
  .hamburgerMenuBarTwo,
  .hamburgerMenuBarThree {
    width: 2rem;
    height: 0.25rem;
    background-color: #a8dadc;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .hamburgerMenuBarOne {
    transform: rotate(0);
  }

  .hamburgerMenuBarTwo {
    opacity: 1;
    transform: translateX(0);
  }

  .hamburgerMenuBarThree {
    transform: rotate(0);
  }

  .closeHamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    padding: 0;
    right: 1.5rem;
    top: 20px;
    cursor: pointer;

    .hamburgerMenuBarOne {
      transform: rotate(45deg);
    }

    .hamburgerMenuBarTwo {
      opacity: 0;
      transform: translateX(20px);
    }

    .hamburgerMenuBarThree {
      transform: rotate(-45deg);
    }
  }

  .hamburgerMobileMenuHidden {
    display: flex;
    flex-direction: column;
    background-color: #1d3557;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 30rem;
    max-width: 70%;
    right: 2.5%;
    opacity: 0;
    visibility: hidden;
    height: 0%;
    transition:
      opacity 0.75s,
      visibility 0.75s,
      height 0.75s;
    overflow: hidden;
  }

  .hamburgerMobileMenuShow {
    display: flex;
    flex-direction: column;
    background-color: #1d3557;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 30em;
    max-width: 70%;
    top: 75%;
    right: 2.5%;
    opacity: 1;
    visibility: visible;
    height: 100vh;
    outline: 2px solid #f1faee;
  }

  .hamburgerMobileMenuShow a {
    display: block;
    margin-top: 5em;
    text-decoration: none;
    color: #a8dadc;
  }

  .hamburgerMobileMenuShow a:hover {
    border-bottom: 2px solid #f1faee;
    margin-bottom: -2px;
  }
}

@media screen and (max-width: 600px) {
  .navHeader {
    font-size: 1.25rem;
  }

  .navContainer {
    padding: 0.75em;
  }
}
