.projectsGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 5em;
}

.projectsFlexedContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-height: 400px;
}

.projectsFlexedContentContainer:first-child {
  margin-left: 50px;
}

.projectsFlexedContentContainer:nth-child(2) {
  margin-left: 100px;
}

.projectsFlexedContentContainer:nth-child(3) {
  margin-left: 150px;
}

.projectsFlexedContentContainer:last-child {
  margin-left: 200px;
}

.projectImage {
  max-width: 35rem;
  object-fit: contain;
  filter: grayscale(100%);
}

.projectImage:hover {
  filter: none;
}

.projectImgAndTextContentContainer {
  max-width: 40%;
}

.projectCreatedWithContainer {
  display: flex;
  gap: 0.5em;
}

.createdWithSvg {
  width: 2rem;
  object-fit: contain;
}

.projectDescriptionContainer {
  max-width: 80%;
}

.projectDescription {
  max-width: 100%;
}

.projectAnchorContainer {
  display: flex;
  gap: 0.5em;
}

.projectAnchorCode,
.projectAnchorLive {
  text-decoration: none;
  color: black;
  outline: 2px solid black;
  padding: 0.75em 1.25em;
  margin-top: 0.5em;
}

@media screen and (max-width: 1100px) {
  .projectsFlexedContentContainer {
    flex-direction: column;
    max-height: fit-content;
    margin-bottom: 1.5em;
    margin-left: 0;
  }

  .projectsFlexedContentContainer:first-child {
    margin-left: 0;
  }

  .projectsFlexedContentContainer:nth-child(2) {
    margin-left: 0;
  }

  .projectsFlexedContentContainer:nth-child(3) {
    margin-left: 0;
  }

  .projectsFlexedContentContainer:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .projectImage {
    max-width: 100%;
  }

  .projectImgAndTextContentContainer {
    max-width: 100%;
  }
}
