.flexedSkillsWrapper {
  padding: 1em;
  background-color: #1d3557;
  scroll-margin-top: 80px;
}

.flexedSkillHeader {
  font-size: 2.5rem;
  color: #a8dadc;
}

.flexedSkillHeader::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 15%;
  outline: 2px solid #f1faee;
}

.flexedCenteredSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gridSkillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  padding: 1em;
  gap: 2em;
}

.gridSkillsContainer p {
  text-align: center;
  margin-bottom: 0.5em;
}

.skillsSvg {
  width: 3rem;
  cursor: pointer;
}

.flexedFrontEndSkillsContainer,
.flexedBackEndSkillsContainer,
.flexedMiscellaneousSkillsContainer {
  outline: 2px solid #1d3557;
  color: #1d3557;
  padding: 0.1em;
  background-color: #f1faee;
}

.flexedFrontEndSvgContainer,
.flexedBackEndSvgContainer,
.flexedMiscellaneousSvgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 3em;
  flex-wrap: wrap;
}

.flexedFrontEndSvgContainer > figure,
.flexedBackEndSvgContainer > figure,
.flexedMiscellaneousSvgContainer > figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.flexedFrontEndSvgContainer > figcaption,
.flexedBackEndSvgContainer > figcaption,
.flexedMiscellaneousSvgContainer > figcaption {
  font-size: 0.85rem;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .gridSkillsContainer {
    display: grid;
    grid-template-columns: auto;
  }
}
