.flexedSkillsWrapper {
  padding: var(--main-padding);
  background-color: var(--main-bg-color);
  scroll-margin-top: 80px;
}

.flexedSkillHeader {
  font-size: 2.5rem;
  color: var(--secondary-bg-color);
}

.flexedSkillHeader::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 15%;
  outline: 2px solid var(--main-color);
}

.flexedCenteredSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gridSkillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  padding: 1em;
  gap: 2em;
}

.gridSkillsContainer p {
  text-align: center;
  margin-bottom: 0.5em;
}

.skillsSvg {
  width: 3rem;
  cursor: pointer;
}

.gridSkillsWrapper {
  outline: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  padding: 0.1em;
  background-color: var(--main-color);
}

.gridSkillsSVGContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 3em;
  flex-wrap: wrap;
}

.gridSkillsSVGContainer > figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.gridSkillsSVGContainer > figcaption {
  font-size: 0.85rem;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .gridSkillsContainer {
    display: grid;
    grid-template-columns: auto;
  }
}
