.spanTypeWriterContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spanTypeWriterContainer > span {
  display: grid;
  justify-items: center;
  overflow: hidden;
  height: 1.5em;
  font-size: var(--typewriter-animation-span-font-size);
  font-weight: 800;
}

.spanTypeWriterContainer span span {
  width: 0%;
  max-width: max-content;
  overflow: hidden;
  height: inherit;
  word-break: break-all;
  animation:
    c 0.5s infinite steps(1),
    t var(--d) linear infinite alternate,
    m 12s steps(var(--n)) infinite;
}

.spanTypeWriterContainer span span::before {
  content: " ";
  display: inline-block;
}

.typeWriterHeader {
  font-size: var(--typewriter-animation-font-size);
  font-weight: 700;
}

@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

@keyframes c {
  0%,
  100% {
    box-shadow: 3.5px 0 0 var(--secondary-bg-color);
  }
  50% {
    box-shadow: 3.5px 0 0 var(--main-color);
  }
}

@keyframes m {
  100% {
    transform: translateY(-300%);
  }
}

.flexedRightArrowAnchorContainer {
  outline: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  padding: 0.5em 1.25em;
  margin-top: 0.5em;
  cursor: pointer;
  color: var(--secondary-bg-color);
  text-decoration: none;
}

.rightArrowSvg {
  width: 25px;
  transition: transform 0.5s ease-in-out;
}

.rightArrowSvg:hover {
  transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
  .spanTypeWriterContainer > span {
    font-size: var(--typewriter-animation-font-size);
  }
}
