*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

hr {
  color: #f1faee;
}
